<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this topic from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>
    <%= f.select(:user_id, options_for_select(@users_array)) %>
    <%= f.select(:movie_id,options_for_select(@movies_array)) %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
